.app-toolbar {
  background: #2f5bd2; /* blue */
  color: #fff;

  display: flex;
  align-items: center;
  gap: 12px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.left {
  flex: 0 0 auto;
  min-width: 200px;
}

.center {
  flex: 1 1 auto;
  justify-content: center;
}

.right {
  flex: 0 0 auto;
  min-width: 140px;
  justify-content: flex-end;
}

.search-field {
  width: min(520px, 100%);
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.app-title {
  font-style: italic;
  font-weight: bold;
  font-size: large;
}
