<ul class="nav-list">
  <li class="nav-item" routerLinkActive="active">
    <a routerLink="/dashboard/projects">
      <i class="icon"></i>
      <span>Projects</span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a routerLink="/dashboard/persons">
      <i class="icon"></i>
      <span>Persons</span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a routerLink="/dashboard/tasks">
      <i class="icon"></i>
      <span>Task</span>
    </a>
  </li>

</ul>
