<h2>Persons Management</h2>

<!-- Search / Get by ID -->
<div class="controls">
  <div class="search-box">
    <input
      type="text"
      [(ngModel)]="searchId"
      [disabled]="tableData.loading"
      placeholder="Enter Person ID (ex: A001)"
    />
    <button
      class="btn secondary"
      (click)="getPersonById()"
      [disabled]="tableData.loading || !searchId.trim()"
    >
      Get by ID
    </button>
  </div>
</div>

<!-- CREATE -->
<div class="controls">
  <h3>Create Person</h3>
  <div class="search-box">
    <input
      type="text"
      [(ngModel)]="createDto.name"
      [disabled]="tableData.loading"
      placeholder="Name"
    />

    <select [(ngModel)]="createDto.role" [disabled]="tableData.loading">
      <option [ngValue]="1">Admin</option>
      <option [ngValue]="2">Manager</option>
      <option [ngValue]="3">User</option>
    </select>

    <label class="chk">
      <input type="checkbox" [(ngModel)]="createDto.isActive" [disabled]="tableData.loading" />
      Active
    </label>

    <button class="btn primary" (click)="createPerson()" [disabled]="tableData.loading">
      Create
    </button>
  </div>
</div>

<!-- UPDATE -->
<div class="controls">
  <h3>Update Person</h3>
  <div class="search-box">
    <input
      type="text"
      [(ngModel)]="updateId"
      [disabled]="tableData.loading"
      placeholder="Person ID to update (ex: A001)"
    />

    <input
      type="text"
      [(ngModel)]="updateDto.name"
      [disabled]="tableData.loading"
      placeholder="New Name"
    />

    <select [(ngModel)]="updateDto.role" [disabled]="tableData.loading">
      <option [ngValue]="1">Admin</option>
      <option [ngValue]="2">Manager</option>
      <option [ngValue]="3">User</option>
    </select>

    <label class="chk">
      <input type="checkbox" [(ngModel)]="updateDto.isActive" [disabled]="tableData.loading" />
      Active
    </label>

    <button
      class="btn secondary"
      (click)="updatePerson()"
      [disabled]="tableData.loading || !updateId.trim()"
    >
      Update
    </button>
  </div>
</div>

<!-- DELETE -->
<div class="controls">
  <h3>Delete Person</h3>
  <div class="search-box">
    <input
      type="text"
      [(ngModel)]="deleteId"
      [disabled]="tableData.loading"
      placeholder="Person ID to delete (ex: A001)"
    />
    <button
      class="btn danger"
      (click)="deletePerson()"
      [disabled]="tableData.loading || !deleteId.trim()"
    >
      Delete
    </button>
  </div>
</div>

<!-- Table -->
<app-tables [tableData]="tableData"></app-tables>
